// EssentialAppCaseStudy app target settings.
#include "iOSApp.xcconfig"

CODE_SIGN_STYLE = Manual;
PRODUCT_BUNDLE_IDENTIFIER = me.vazquez.angel.EssentialAppCaseStudy;
VALIDATE_PRODUCT = YES;

DEVELOPMENT_TEAM = 486CCPNU3B;
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Distribution;
DEVELOPMENT_TEAM[sdk=iphoneos*] = 486CCPNU3B;
PROVISIONING_PROFILE_SPECIFIER[sdk=iphoneos*] = Essential App Case Study Distribution;
